<h2>User Info</h2>

<%= form_with model: @user do |f| %>
  <label>Name</label>
  <!--placeholder current user name-->
  <%= f.text_field :name %>
　<label>Image</label>
  <%= f.file_field :profile_image accept: "imag/*" %>
  <label>Introduction</label>
  <%= f.text_field :introduction %>
  <%= f.submit 'Update User' %>>
<% end %>