<%= render 'users/profile', user: @user %>


<%= render 'books/post', book: @book %>


<h2>Users</h2>

<table>
 <thead>
     <tr>
      <th>img</th>
      <th>name</th>
      <th>show btn</th>
     </tr>
 </thead>
  <tbody>
<% @users.each do |user| %>
     <tr>
         <td><%= image_tag user.get_profile_image(100,100) %></td>
         <td><%= user.name %></td>
         <td><%= link_to "show", book_path(user.id) %></td>
     </tr>

<% end %>
</tbody>
</table>