
<h2>User info</h2>
<%= link_to "(仮)設定アイコン", edit_user_registration_path %>

<%= form_with model: @book do |f| %>
 <h2>New book</h2>
  <label>Title</label>
    <%= f.text_field :title %>
  <label>Opinion</label>
    <%= f.text_field :opinion %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Users</h2>

<table>
 <thead>
     <tr>
      <th>img</th>
      <th>name</th>
      <!--<th></th>-->
     </tr>
 </thead>
  <tbody>
<% @users.each do |user| %>
     <tr>
         <!--user pic need to be fixed-->
         <!--<td> image_tag user.get_image </td>-->
         <!--<td>%= @user.name %></td>-->
         <td><%= link_to "show" %></td>
     </tr>

<% end %>
</tbody>
</table>