<%= render 'users/profile', user: @user %>


<%= render 'books/post', book: @book %>


<h2>Books(Current User)</h2>


<table>
 <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
     </tr>
 </thead>
 <tbody>

<% @books.each do |book| %>
<tr>

  <td><%= image_tag book.user.get_profile_image(100,100) %></td>
  <td><%= link_to book.title, book_path(current_user.id) %></td>
  <td><%= book.opinion %></td>

</tr>
<% end %>

</tbody>
</table>