<%= render 'users/profile', user: @user %>

<%= render 'books/post', book: @book_new %>


<h2>Books detail</h2>


  <%= image_tag book.user.get_profile_image(100,100) %>
      <%= link_to book.user.name, user_path(book.id) %>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.opinion %>
  
  <% if @book_new.errors.any? %>
  <%= @book_new.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(book.id) %>
    <%= link_to 'Destroy', books_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
  
  
  <%= link_to "Show", book_path(book.id) %>
  |
  <%= link_to "Back", books_path %>

